/* Big screen :1200px. */
@media (min-width: 1501px) and (max-width: 1740px) {
    /*=========== Home Page Start  ============== */
    .container {
        max-width: 85%;
    }
    .menu-area > div ul li a {
        font-size: 18px;
    }
    .hero-wrp h1{
        font-size: 42px;
    }

.hero-wrp p {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.6;
}
    .menu-area > div ul li ul:before{
        left: 18%;
    }
    
    .menu-area > div ul li:last-child ul:before {
        left: 14%;
    }

    .cta-wrp h4 {
        font-size: 36px;
    }

.cta-wrp.cta-slt-wrp h4 {
    font-size: 36px;
}
    .widget-blk {
        max-width: 230px;
    }
    
    .widget-blk > a {
        font-size: 22px;
    }
    
    .widget-blk h4 {
        font-size: 26px;
    }

    /*=========== Home Page End && Solution Page Start ============== */
    .loc-text h4 {
        font-size: 36px;
    }
    
    .loc-text p {
        font-size: 24px;
        max-width: 500px;
    }
    
    section.location-area .row:nth-child(2) .loc-text.section_title p {
        margin-left: auto;
    }
    /*=========== Solution Page End && About Page Start ============== */
    .about-cont p {
        font-size: 44px;
    }
    
    .about-company-title h3 {
        font-size: 46px;
    }
    
    .ac-blk span {
        font-size: 76px;
    }
    
    .ac-blk p {
        font-size: 28px;
    }
    /*=========== About Page End && Page Start ============== */
    
}







/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
/*=========== Home Page Start  ============== */
.container {
    max-width: 90%;
}
.menu-area > div ul li a {
    font-size: 18px;
    margin-left: 30px;
}
.hero-wrp h1{
    font-size: 42px;
    line-height: 1.4;
}

.hero-wrp p {
    font-size: 18px;
    line-height: 1.6;
}
.menu-area > div ul li ul:before{
    left: 14%;
}

.menu-area > div ul li:last-child ul:before {
    left: 10%;
}
.section_title h4 {
    font-size: 36px;
}

.loc-text h4 {
    margin-bottom: 30px;
}

.regulation-area button p {
    font-size: 18px;
    line-height: 1.5;
}

.regulation-area button h5 {
    font-size: 24px;
}
.menu-area > div ul button.themeBtn {
    font-size: 20px;
    margin-left: 20px;
}
/*=========== Home Page End && Solution Page Start ============== */
.cvg-text p {
    max-width: 340px;
    font-size: 18px;
    line-height: 1.5;
}

.loc-text p {
    font-size: 24px;
}

.widget-blk h4 {
    font-size: 24px;
}

.widget-blk > a {
    font-size: 20px;
    margin-top: 10px;
}

.widget-blk {
    max-width: 200px;
}

.cnt_blk p {
    font-size: 18px;
    line-height: 1.5;
}

.cnt_blk h5 {
    font-size: 26px;
}
/*=========== Solution Page End && techonology Page Start ============== */
.AI-text p {
    font-size: 28px;
}
.cta-wrp.cta-slt-wrp h4{
    font-size: 36px;
}
/*=========== techonology Page End && About Page Start ============== */
.about-cont p {
    font-size: 36px;
}

.about-s-right p {
    margin-top: 99px;
    font-size: 20px;
    line-height: 1.7;
}

.about-company-title h3 {
    font-size: 42px;
}

.ac-blk span {
    font-size: 60px;
    margin-bottom: 50px;
}

.ac-blk p {
    font-size: 20px;
}

.ac-blk {
    width: 250px;
    height: 250px;
}

section.about-company .row:last-child {
    max-width: 899px;
}
/*=========== About Page End && Page Start ============== */

}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
/*=========== Home Page Start  ============== */
.menu-area > div ul li ul:before{
    left: 14%;
}

.menu-area > div ul li:last-child ul:before {
    left: 10%;
}
.menu-area > div ul li a {
    font-size: 15px;
    margin-left: 23px;
}

.menu-area > div ul button.themeBtn {
    font-size: 15px;
    padding: 11px 13px;
    margin-left: 20px;
}
.hero-wrp a.themeBtn {
    margin-bottom: 20px;
    padding: 20px 28px 20px;
    font-size: 16px;
}

.hero-wrp a.themeBtn.ybtn {
    margin-left: 10px;
}
.hero-wrp h1{
    font-size: 33px;
    line-height: 1.5;
}

.hero-wrp p {
    font-size: 18px;
    line-height: 1.5;
}
.cta-wrp h4 {
    font-size: 26px;
    margin-bottom: 31px;
}
.loc-text h4{
    font-size: 40px;
}
.widget-blk h4 {
    font-size: 18px;
}

.widget-blk > a {
    font-size: 16px;
    margin-top: 10px;
}

.bottom_menu a {
    font-size: 18px;
}

.cnt_blk h5 {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 15px;
}

.cnt_blk p {
    font-size: 16px;
    line-height: 1.6;
}

.advantage-area .section_title {
    margin-bottom: 50px;
}
.section_title h4 {
    font-size: 36px;
}

.regulation-area button h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

.regulation-area button p {
    font-size: 18px;
    line-height: 1.5;
}

.regulation-area button a {
    font-size: 16px;
}

.widget-blk {
    max-width: 190px;
}

.widget-blk p > a {
    font-size: 18px;
}
.menu-area > div ul li ul > li a b {
    font-size: 19px;
}

.menu-area > div ul li ul > li a p {
    font-size: 12px;
}

.menu-area > div ul li ul {
    width: 400px;
    padding: 10px 25px;
}
/*=========== Home Page End && soluton Page Start ============== */
.cvg-text p {
    font-size: 18px;
    max-width: 349px;
    line-height: 1.5;
}

.loc-text p {
    font-size: 22px;
    line-height: 1.5;
}
/*=========== soluton Page End && techonology Page Start ============== */
.AI-text p {
    font-size: 22px;
}

.AI-text {
    padding: 30px 0;
}
/*=========== techonology Page End && About Page Start ============== */
.about-cont p {
    font-size: 34px;
}

.about-s-right p {
    margin-top: 100px;
    font-size: 18px;
    line-height: 1.8;
}

.about-company-title h3 {
    font-size: 40px;
}

.ac-blk span {
    font-size: 50px;
    margin-bottom: 33px;
}

.ac-blk p {
    font-size: 20px;
}

section.about-company .row:last-child {
    max-width: 780px;
}

.ac-blk {
    width: 225px;
    height: 225px;
}

.cta-wrp.cta-slt-wrp h2 {
    font-size: 44px;
}
/*=========== About Page End && Page Start ============== */

}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 90%;
    }
/*=========== Home Page Start  ============== */
.header-area{
    padding: 20px 0;
}
.menu-area > div ul li a {
    font-size: 16px;
    margin-left: 30px;
}

.menu-area > div ul button.themeBtn {
    font-size: 18px;
}
.hero-wrp a.themeBtn {padding: 14px 27px;}

.hero-wrp a.themeBtn.ybtn {margin-left: 15px;}

.cta-wrp h4 {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-wrp.cta-slt-wrp h4 {
    font-size: 28px;
    line-height: 1.5;
}

.widget-blk h4 {
    font-size: 18px;
}

.widget-blk > a {
    font-size: 16px;
    margin-top: 9px;
}

.bottom_menu a {
    font-size: 18px;
}

.cnt_blk h5 {
    font-size: 24px;
}

.cnt_blk p {
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
}

.advantage-area .section_title {
    margin-bottom: 25px;
}
.hero-wrp h1 {
    font-size: 34px;
    line-height: 1.5;
}

.cnt_blk {
    max-width: 620px;
    margin: auto;
    margin-top: 20px;
}

.advantage-area.avt-slt .cnt_blk {
    max-width: 625px;
}

.cta-area {
    padding: 70px 0;
}

a.themeBtn {
    padding: 20px 30px;
    font-size: 16px;
}
.widgets {
    flex-wrap: wrap;
    justify-content: start;
}

.widget-blk {
    flex: 0 0 32%;
}
.hero-wrp p {
    font-size: 16px;
    max-width: 415px;
    line-height: 1.5;
}

.portfolio-wrp h5 {
    font-size: 18px;
    line-height: 1.5;
}

.portfolio-wrp ul li {
    margin: 10px 40px;
}

.section_title h4 {
    font-size: 30px;
}

.advantage-area {
    padding: 70px 0;
}

.regulation-area {
    padding: 70px 0;
}

.regulation-area .section_title p {
    font-size: 18px;
    line-height: 1.5;
}

.regulation-area button h5 {
    font-size: 24px;
}

.regulation-area button p {
    font-size: 18px;
    line-height: 1.5;
}
.widget-blk p > a {
    font-size: 18px;
}
/*=========== Home Page End && Solution Page Start ============== */
.loc-text {
    margin: auto;
    margin-bottom: 50px;
}

.loc-text h4 {
    font-size: 32px;
}

.loc-text p {
}

section.location-area .row:nth-child(1) {flex-direction: column-reverse;margin-bottom: 60px;}

.loc-img {
    margin-bottom: 50px;
}
.loc-text {
    text-align: left !important;
    margin: auto;
    margin-bottom: 50px;
}

.loc-text h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

section.location-area:before {
    height: 51%;
}

.loc-text p {
    font-size: 20px;
    line-height: 1.5;
}

section.location-area .row:nth-child(1) {margin-bottom: 60px;}

.loc-img {
    margin-bottom: 50px;
}

.cvg-text {
    margin-top: 115px;
}

section.location-area {
    padding-top: 50px;
}
/*=========== Solution Page End && techonology Page Start ============== */
.AI-text p {
    font-size: 26px;
}
/*=========== techonology Page End && About Page Start ============== */
section.about-story {
    margin-top: 120px;
}

section.about-story .row {
    flex-direction: column-reverse;
}

.about-cont h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.about-cont {
    text-align: center;
}

.about-cont h5 {
    font-size: 30px;
}

.about-cont p {
    font-size: 32px;
}

.about-s-right p {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 50px;
}

.about-company-title h3 {
    font-size: 42px;
}

.ac-blk {
    width: 190px;
    height: 190px;
}

.ac-blk span {
    font-size: 44px;
    margin-bottom: 18px;
    margin-top: -20px;
}

.ac-blk p {
    font-size: 18px;
}
/*=========== About Page End && Page Start ============== */

}

 
/* small screen :320px. */
@media (max-width: 767px) {
    .container {
        max-width: 90%;
    }
/*=========== Home Page Start ============== */

.header-area{
    padding: 18px 10px;
}
.hero-wrp h1 {
    font-size: 26px;
    line-height: 1.3;
}

body {
    font-size: 16px;
}

.hero-wrp p {
    font-size: 15px;
    line-height: 1.5;
}

a.themeBtn {
    font-size: 15px;
    padding: 10px 25px;
}

.hero-wrp a.themeBtn.ybtn {
    margin-left: 0;
    margin-top: 10px;
}

.portfolio-wrp h5 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.portfolio {
    padding-bottom: 0;
}
.portfolio-wrp ul {
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.portfolio-wrp ul li {
    margin: auto;
    flex: 0 0 50%;
    margin-bottom: 25px;
}

.section_title h4 {
    font-size: 22px;
    line-height: 1.5;
}

.advantage-area {
    padding: 50px 0 30px;
}

.section_title {
    margin-bottom: 30px;
}

.cnt_blk h5 {
    font-size: 18px;
    line-height: 1.5;
}

.cnt_blk p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.regulation-area {
    padding: 50px 0;
}

div#v-pills-tabContent {
    display: none;
}

.regulation-area button h5 {
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.regulation-area button {
    margin-bottom: 5px;
}

.regulation-area button p {
    line-height: 1.5;
    margin-bottom: 4px;
    font-size: 16px;
}

.regulation-area button a {
    font-size: 15px;
}
.cta-wrp h4 {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.cta-area {
    padding: 50px 0;
}

.widget-blk h4 {
    font-size: 18px;
    margin-bottom: 0;
}

.widget-blk .social {
    justify-content: center;
}

.widget-blk > a {
    font-size: 16px;
    margin-top: 1px;
}

.bottom_menu a {
    font-size: 16px;
    margin: 2px auto;
}

.bottom_menu {
    text-align: center;
    display: flex;
    border: none;
    margin-top: 10px;
    position: relative;
    flex-direction: column;
    opacity: 1;
}

.bottom_menu::before {
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    left: 50%;
    top: -15px;
    background: #479c5f;
    transform: translateX(-50%);
}

footer {
    padding-bottom: 20px;
}

.widget-blk {
    margin-bottom: 35px;
    text-align: center;
}


.widgets {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.regulation-area .section_title p {
    line-height: 1.5;
    font-size: 16px;
}

.widget-blk p > a {
    font-size: 18px;
}
/*=========== Home Page End && Page Start ============== */
.cvg-text {
    margin-top: 110px;
}

.cvg-text h4 {
    font-size: 20px;
}

.cvg-text p {
    font-size: 15px;
}

.cvg-text p {
    line-height: 1.7;
}

.loc-text h4 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.45;
}

.loc-text p {
    font-size: 16px;
    line-height: 1.5;
}

section.location-area .row:nth-child(2) {
    flex-direction: column-reverse;
}

section.location-area .row:nth-child(2) .loc-text.section_title {
    text-align: left;
}

section.location-area .row:nth-child(1) {
    margin-bottom: 50px;
}

.cta-wrp.cta-slt-wrp h4 {
    line-height: 1.4;
    font-size: 20px;
}

section.location-area {
    padding-top: 50px;
}
/*=========== Home Page End &&  Page Start ============== */
.AI-text p {
    font-size: 18px;
    line-height: 1.5;
}

.AI-text {
    padding: 30px 0;
}
/*=========== Home Page End && About Page Start ============== */
.hero-area {
    padding-top: 65px;
}

.about-cont h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-cont h5 {
    font-size: 20px;
}

.about-cont p {
    font-size: 18px;
    line-height: 1.4;
}

.about-s-right p {
    margin-top: 35px;
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 50px;
}

.about-company-title h3 {
    font-size: 22px;
}

.about-company-title span {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-company-title {
    margin-bottom: 50px;
}

.ac-blk {
    width: 190px;
    height: 190px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 25px;
}

.ac-blk span {
    font-size: 40px;
    margin-bottom: 19px;
    margin-top: -15px;
}

.ac-blk p {
    font-size: 18px;
}

.cta-wrp.cta-slt-wrp h2 {
    font-size: 28px;
}
section.about-story .row {
    flex-direction: column-reverse;
}

.about-cont {
    text-align: center;
}
section.about-company{
    margin-bottom: 35px;
}
/*=========== About Page End && Page Start ============== */
 
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
